/* =================================== */
/*  Custom Style
/* =================================== */

.modal-about {
  max-height: 600px;
  overflow-y: scroll;
}

.portfolio-img {
  height: 250px;
  vertical-align: middle;
  background: #eee;
}

.portfolio-img img {
  object-fit: contain;
  height: 100%;
  margin: 0 auto;
}

@media (max-width: 600px) {
  .mfp-arrow {
    transform: scale(0.5);
  }

  .mfp-arrow-right {
    top: 220px;
  }

  .mfp-arrow-left {
    top: 250px;
  }
}